@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Sarabun:wght@200;300&family=Source+Sans+Pro:wght@300;400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sarabun', sans-serif;

 
    
}

/*----Navbar starts-----*/

.logo{
    object-fit: contain;
}

.logo:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(11, 149, 241, 0.6) 30%, #15f35f 50%, rgba(7, 247, 107, 0.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
  }
  
  @-webkit-keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    
    to {
      -webkit-mask-position: -50%;
    }
  }



#navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: .5rem 5rem;
    box-shadow: 5px 5px 20px black(0,0,0,.5);
    background: black;
}

li{
    padding: 5px;
}

#navbarSupportedContent a{
    font-size: 18px;
    color: white;
}

#navbarSupportedContent a:hover{
    color: rgb(6, 176, 243);
}


.search-icon:hover{
    filter: brightness(150%);
  }

/*----Navbar Ends-----*/

/*----Home Slider Starts-----*/


  /* Slider */

.numbertext {
    color: #0a0000;
    font-size: 12px;
    padding: 8px 8px;
    z-index: 10;
    position: relative;
}

.container{
    padding: 0 80px;
    min-width: 100%;
    margin-top: 20px;
  }
 

.slick-initialized .slick-slide{
    margin: 0 80px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
 
.container .slider img{
    transition: .4s ease;
    height: 650px;
}

.container .slider img:hover{
    filter: brightness(110%);
    transition: .4s ease;
    transform: scale(1.08);
    opacity: 0.9;
    box-shadow: 20px 20px 15px -8px rgba(0, 0, 0,.7);
  }

/*
.container .btn {
    background-color: rgb(56, 145, 196);
    filter: brightness(110%);
    transition: .4s ease;
    margin: -120px 0px 00px 50px;
  }

.container .btn:hover {
    background-color: rgb(56, 145, 196);
    filter: brightness(110%);
    transition: .4s ease;
    filter: brightness(140%);
    
  }
*/

.container .btn {
    border-radius: 57px;
    background-color: #16abf0;
    border: none;
    color: #fafcfb;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding: 0px;
    width: 150px;
    height: 50px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  }
  
.container .btn{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.container .btn:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 12px;
    right: 20px;
    transition: 0.5s;
  }
  
.container .btn:hover{
    padding-right: 24px;
    padding-left:8px;
    background-color: #09c250;
    color: #fafcfb;
  }
  
.container .btn:hover:after {
    opacity: 1;
    right: 10px;
  }


/*--------slide dots Starts---------*/


.slider-dots-box {
	display: flex;
	justify-content: center;
	align-items: center;
  margin-top: -40px;
}

.slider-dots {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 0px;
}


.slider-dots button {
	width: 40px;
	height: 20px;
	border-radius: 50%;
	display: block;
	border: 0;
	background-color: transparent;
	margin: 0 20px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 0;
	transition: .3s all;
	position: relative;
	z-index: 0;
}

.slider-dots-box .slick-active button {
		width: 40px;
		height: 40px;
}

.slider-dots button:after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #000;
}

.slider-dots-box .slick-active button:after {
  content: none;
  display: none;
}


.slider-dots-box .slick-active button:before {
	content: "";
  display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	border: 2px solid rgba(0, 0, 0, 0.05);
	border-radius: 50%;
}

.circle-bg {
  fill: rgba(255, 255, 255, 0);
  stroke: rgba(0, 0, 0, 0.05);
  stroke-width: 2;
  stroke-linecap: butt;
}
.circle-go {
  fill: rgba(255, 255, 255, 0);
  stroke: rgb(12, 26, 231);
  stroke-width: 2;
  stroke-linecap: round;
	animation: progress 22s;
	stroke-dasharray: 360px;
	stroke-dashoffset: 360;
}
.circle-tx {
  fill: #000;
  stroke-width: 1;
  font: bold 16px 'Arial';
  text-anchor: middle;
}

@keyframes progress {
  from {
    stroke-dashoffset: 360;
  }
  
  to {
    stroke-dashoffset: 0;
  }
}



/*--------slide dots Ends---------*/


    
/*----Home Slider Ends-----*/

/*----- Section1 Starts-----------*/
#section1{
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;

}

#section1 h1{
    font-size: 18px;
    font-weight: 800;

}

#section1 h2{
    font-size: 16px;
    font-weight: 500;

}

#section1 p{
    font-size: 14px;
    font-weight: 300;
}


#section-text{
    transition: .4s ease;

}

#section-text a.effect-shine:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(11, 149, 241, 0.6) 30%, #15f35f 50%, rgba(7, 247, 107, 0.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
    font-weight: 900;
  }
  
  @-webkit-keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    
    to {
      -webkit-mask-position: -50%;
    }
  }

/*---------Section1 Ends---------*/

/*----- Section2 Starts-----------*/
#section2{
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    
}

#section2 h1{
    font-size: 18px;
    font-weight: 800;

}
#section2 h2{
    font-size: 16px;
    font-weight: 500;

}

#section2 p{
    font-size: 14px;
    font-weight: 300;
    color:#d6d8e4;
}


#section-text{
    transition: .4s ease;


}

#section-text a.effect-shine:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(11, 149, 241, 0.6) 30%, #15f35f 50%, rgba(7, 247, 107, 0.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
    font-weight: 900;
  }
  
  @-webkit-keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    
    to {
      -webkit-mask-position: -50%;
    }
  }

/*---------Section2 Ends---------*/

/*---------Section3 (What we do) Starts---------*/

#section3{

    align-items: center;
    background: rgb(242, 244, 248);

}

#section3 h1{
letter-spacing: 10px;
font-weight: 700;
padding-top: 30px;

}



#section3 img{
  border-radius: 37px 37px 0px 0px;
  height: 200px;

}

#section3 .card{
    border-radius:30px;
    height: 300px;
    width: 350px;
    
    transition: .4s ease;
    background-color: #dfe1e2;
    box-shadow: inset 4px 6px 10px 6px  white;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    box-shadow: 20px 20px 15px -8px rgba(122, 122, 122, 0.7),
                inset 4px 6px 10px 6px  white;
    
}

#section3 .card:hover{
    filter: brightness(105%);
    transition: .4s ease;
    transform: scale(1.08);
    box-shadow: 20px 20px 15px -8px rgba(0, 0, 0,.7),
                inset 4px 6px 10px 6px  white;
}

#row2{
    padding-top: 10px;
    padding-bottom: 70px;
}


/*---------Section3  (What we do) Ends---------*/

/*---------Section4 Starts---------*/

#section4{
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
}

#section4 h1{
    font-size: 18px;
    font-weight: 800;

}

#section4 h2{
    font-size: 16px;
    font-weight: 500;

}

#section4 p{
    font-size: 14px;
    font-weight: 300;
}


.section4-text{
    transition: .4s ease;
    text-align: left;
    
}

.inner img{
  transition: all 1.5s ease;
}

.inner:hover img{
  transform: scale(1.2);
}



.section-text a.effect-shine:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(11, 149, 241, 0.6) 30%, #15f35f 50%, rgba(7, 247, 107, 0.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
    font-weight: 900;
  }


  .section4-img{
    transition: .4s ease;
    align-items: left;
    
}
  
  @-webkit-keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    
    to {
      -webkit-mask-position: -50%;
    }
  }

/*----- Section4 Ends-----------*/


/*---- Footer Starts -----*/
.bg-footer {
    background-color: #1d262e;
    padding: 50px 0 30px;

}
.footer-heading {
    letter-spacing: 2px;
    
}

.footer-link a {
    color: #acacac;
    line-height: 40px;
    font-size: 14px;
    transition: all 0.5s;
}

.footer-link a:hover {
    color: #1bbc9b;
}

.contact-info {
    color: #acacac;
    font-size: 14px;
}

.footer-social-icon {
    font-size: 15px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
    padding-top: 10px;
}

.facebook {
    background-color: #4e71a8;
    color: #ffffff;
}

.twitter {
    background-color: #55acee;
    color: #ffffff;
}

.google {
    background-color: #d6492f;
    color: #ffffff;
}

.apple {
    background-color: #424041;
    color: #ffffff;
}

.footer-alt {
    color: #acacac;
}

.footer-heading {
    position: relative;
    padding-bottom: 12px;
}

.footer-heading:after {
    content: '';
    width: 25px;
    border-bottom: 1px solid #FFF;
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    border-bottom: 1px solid #1bbc9b;
}



/*---- Footer Ends-----*/